<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zsj.modules.ums.mapper.UmsAdminMapper">

    <!--
      根据用户名查询权限点名称列表：
      用户 -> 用户角色关系 -> 角色 -> 角色资源关系 -> 资源(name)
    -->
    <select id="getResourceNameListByUsername" resultType="java.lang.String">
        SELECT DISTINCT ur.name
        FROM ums_admin ua
                 LEFT JOIN ums_admin_role_relation uarr ON ua.id = uarr.admin_id
                 LEFT JOIN ums_role ur2 ON uarr.role_id = ur2.id
                 LEFT JOIN ums_role_resource_relation urrr ON ur2.id = urrr.role_id
                 LEFT JOIN ums_resource ur ON urrr.resource_id = ur.id
        WHERE ua.username = #{username}
          AND ur.name IS NOT NULL
    </select>

    <select id="listRoleOptions" resultType="com.zsj.modules.ums.dto.OptionDTO">
        SELECT id, name
        FROM ums_role
        ORDER BY id
    </select>

    <select id="listResourceOptions" resultType="com.zsj.modules.ums.dto.OptionDTO">
        SELECT id, name
        FROM ums_resource
        ORDER BY id
    </select>

    <select id="selectRolesByIds" resultType="com.zsj.modules.ums.model.UmsRole">
        SELECT id, name
        FROM ums_role
        WHERE id IN
        <foreach collection="roleIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>



</mapper>
